<section class="flex flex-col justify-center h-[500px] px-40 space-y-[50px]">
    <div class="">
      <p class="font-bold text-[50px]">Excelencia Académica</p>
    </div>
    <div class="flex justify-between">
      <div class="space-y-[20px] w-[350px] border-l-8 border-heath-950 pl-8 py-2 rounded-lg">
        <h1 class="text-[25px] font-bold leading-[25px]">Plan de Estudios Sólidos</h1>
        <p class="text-[20px] leading-6 text-gray-600">Nuestro programa académico está diseñado para desafiar y enrriquecer a nuestros estudiantes.</p>
      </div>
      <div class="space-y-[20px] w-[350px] border-l-8 border-heath-950 pl-8 py-2 rounded-lg">
        <h1 class="text-[25px] font-bold leading-[25px]">Maestros Excepcionales</h1>
        <p class="text-[20px] leading-6 text-gray-600">Contamos con un equipo docente altamente calificado y apasionado por la enseñanza.</p>
      </div>
      <div class="space-y-[20px] w-[350px] border-l-8 border-heath-950 pl-8 py-2 rounded-lg">
        <h1 class="text-[25px] font-bold leading-[25px]">Instalaciones de Vanguardia</h1>
        <p class="text-[20px] leading-6 text-gray-600">Contamos con instalaciones que optimizarán el proceso de aprendizaje de los estudiantes.</p>
      </div>
    </div>
  </section>
  