<section class="flex px-56 justify-center h-[600px]">
    <div class="flex items-center space-x-20">
      <div>
        <img src="/img/about.png" alt="">
      </div>
      <div >
        <h1 class="font-bold text-[50px] mb-5">Conócenos</h1>
  
        <div class="hs-accordion-group">
          <div class="hs-accordion active" id="hs-basic-heading-one">
            <button
              class="inline-flex items-center w-full py-3 text-2xl font-semibold text-heath-800 rounded-xl hs-accordion-toggle hs-accordion-active:text-heath-800 gap-x-3 text-start hover:text-heath-600 disabled:opacity-50 disabled:pointer-events-none"
              aria-controls="hs-basic-collapse-one" style="font-family: Poppins;">
  
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="block lucide lucide-chevron-down hs-accordion-active:hidden"><path d="m6 9 6 6 6-6"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hidden lucide lucide-chevron-up hs-accordion-active:block"><path d="m18 15-6-6-6 6"/></svg>
              Nuestra misión
  
            </button>
            <div id="hs-basic-collapse-one"
              class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
              aria-labelledby="hs-basic-heading-one">
              <p class="text-gray-800 w-[600px]" style="font-family: Poppins;">
                <em>This is the third item's accordion body.</em> It is hidden by default, until the collapse plugin adds
                the appropriate classes that we use to style each element. These classes control the overall appearance,
                as well as the showing and hiding via CSS transitions.
              </p>
            </div>
          </div>
  
          <div class="hs-accordion" id="hs-basic-heading-two">
            <button
              class="inline-flex items-center w-full py-3 text-2xl font-semibold rounded-lg text-heath-800 hs-accordion-toggle hs-accordion-active:text-heath-800 gap-x-3 text-start hover:text-heath-600 disabled:opacity-50 disabled:pointer-events-none"
              aria-controls="hs-basic-collapse-two" style="font-family: Poppins;">
  
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="block lucide lucide-chevron-down hs-accordion-active:hidden"><path d="m6 9 6 6 6-6"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hidden lucide lucide-chevron-up hs-accordion-active:block"><path d="m18 15-6-6-6 6"/></svg>
  
              Nuestra visión
            </button>
            <div id="hs-basic-collapse-two"
              class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
              aria-labelledby="hs-basic-heading-two">
              <p class="text-gray-800 w-[600px]" style="font-family: Poppins;">
                <em>This is the third item's accordion body.</em> It is hidden by default, until the collapse plugin adds
                the appropriate classes that we use to style each element. These classes control the overall appearance,
                as well as the showing and hiding via CSS transitions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  