<section class="flex items-center justify-between px-56" style="height: calc(100vh - 100px);">
    <div class="w-[575px] space-y-[30px]">
      <h1 class="font-bold text-[50px] leading-[50px]">Bienvenido al <br> Colegio PRISMA</h1>
      <p class="text-[20px] text-gray-600">Juntos construimos un futuro brillante para nuestros estudiantes, nosotros somos "El Camino a la EXCELENCIA".</p>
      <div class="space-x-[30px]">
        <a href="/">
          <button class="px-6 py-2 shadow-md font-semibold text-white rounded-lg bg-heath-900 text-[18px] border-2 hover:bg-heath-950">Inscríbete Ahora</button>
        </a>
        <a href="/about">
          <button class="px-6 py-2 shadow-md font-bold border-2 rounded-lg text-heath-900 border-heath-900 text-[18px] hover:bg-gray-100">Conoce Más</button>
        </a>
      </div>
    </div>
    <div>
      <img src="/img/student.png" alt="">
    </div>
  </section>
  