<div class="flex flex-col justify-center gap-16 px-20" style="height: calc(100vh - 100px);">
  <div class="container text-center">
    <img src="/img/login.jpg" width="100" height="100">
  </div>

  <h1 class="text-center text-[40px] font-semibold">Inicio de sesión</h1>

  <form (ngSubmit)="formSubmit()" class="max-w-sm mx-auto">
    <div class="relative mb-6">
      <label for="email" class="block mb-2 text-[18px] font-medium">Nombre de usuario:</label>
      <input [(ngModel)]="loginData.email" name="email" required type="text" id="email" class="block w-full px-4 py-2 rounded-lg peer ps-16 border-heath-900 focus:border-heath-900 focus:ring-heath-900">
      <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-500 size-5 lucide lucide-user-round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg>
      </div>
    </div>

    <div class="relative mb-6">
      <label for="password" class="block mb-2 text-[18px] font-medium">Contraseña:</label>
      <input [(ngModel)]="loginData.password" name="password" required type="password" id="password" class="block w-full px-4 py-2 rounded-lg peer ps-16 border-heath-900 focus:border-heath-900 focus:ring-heath-900">
      <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-500 size-5 lucide lucide-key-round"><path d="M2 18v3c0 .6.4 1 1 1h4v-3h3v-3h2l1.4-1.4a6.5 6.5 0 1 0-4-4Z"/><circle cx="16.5" cy="7.5" r=".5" fill="currentColor"/></svg>
      </div>
      <button type="button" data-hs-toggle-password='{ "target": "#password" }' class="absolute top-0 p-2.5 px-6 end-0 rounded-e-md">
        <svg class="flex-shrink-0 text-gray-500 size-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
          <path class="hs-password-active:hidden" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
          <path class="hs-password-active:hidden" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
          <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
          <path class="hs-password-active:hidden" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
          <circle class="hs-password-active:hidden" cx="12" cy="12" r="3"></circle>
        </svg>
      </button>
    </div>

    <button type="submit" class="w-full py-2 text-center rounded-lg bg-heath-900 hover:bg-heath-950">
      <p class="font-semibold text-white">INICIAR SESIÓN</p>
    </button>
  </form>
</div>
